table thead tr:nth-child(odd){
    background-color: green;
}
/*table tbody :nth-child(even){*/
/*    background-color: red;*/
/*}*/
table tbody tr:nth-child(even){
    background-color: red;
}
table tbody tr:nth-child(odd){
    background-color: aqua;
}
table tbody tr:nth-last-child(1){
    background-color: yellow;
}